<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About {{site.eventName}}</h3>
            <div class="row about-details">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                        <h5>Conference</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/conference.jpg" height="128" width="128" alt="Conference">
                        <p>Des professionnels des technologies Google et bien plus se réunissent rien que pour vous. Des speakers hors du commun and a lot's of fun!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                        <h5>Workshops</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/workshop.jpg" height="128" width="128" alt="Workshops">
                        <p>Des démonstrations, des hands-on. Venez expérimentez votre futur technologie favorite!</p>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                        <h5>Networking</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/hackathon.jpg" height="128" width="128" alt="Hackathons">
                        <p>Venez partager vos expériences avec la communauté. Un grand rassemblement de passionés de technologies vous attend!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
