<!-- Begin Statistic Section -->
<section id="statistic" class="parallax" style="background-image: url({{ site.baseurl }}/img/statistic.jpg);">
	<div class="overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat"><span class="timer" data-from="0" data-to="300">300</span>+</div>
					<div class="stat-info">participants</div>
					<hr>
					<p class="small">de tous horizons</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat"><span class="timer" data-from="0" data-to="20">20</span>
					</div>
					<div class="stat-info">heures</div>
					<hr>
					<p class="small">de pure technologies Google</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat"><span class="timer" data-from="0" data-to="20">20</span>+</div>
					<div class="stat-info">speakers</div>
					<hr>
					<p class="small">de France et au dela</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="timer" data-from="0" data-to="4">4</span>
					</div>
					<div class="stat-info">tracks en parallèle</div>
					<hr>
					<p class="small">couvrant l'univers Google</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Statistic Section -->